.header-main{
	max-width: 1400px;
	height: 70px;
}
.logo{
	height: 70px;
}

.main{
	width: 78.5714%;
	margin: 0 auto;
	line-height: 70px;
}

.navbar{
	width: auto;
	line-height: 70px;
	float: right;
	
}
.navbar li,a{
 float: left;
 text-decoration: none;
 list-style-type: none;
 margin: 0px 23px 0 auto;
}
.navbar ul{
	float: right;
}
