.header-top{
	height: 5em;

}

.menu-items{
	margin: -1.88em 10.19em 0 auto;
	
}
li.list-menu{
	padding: .75em 0.94em;
}
li.list-menus{
	
}
.header-img{
	margin: 1.25em 0em 0em 5.63em;
}
.header-main{
	height: 5em;
}

.nav-nav-right{
	width: auto;
	float: right;
	margin:30px 173px auto;
	
}
.slide-main
{
	
	width: 1170px;

}
.left-nav{
	float: left;
	margin: 20px 0px 0px 0px;
	
}
.slide-img{
 width: 100%;
 height: 100%;	
}
.small-slider{
	height: 12.5em;
	width: 100%;
}

.img-gallery{
	height: 12.5em;
width: 100%;
float:right;
margin:4.69em 0 auto;

}
.img-head{
	height: 0.81em;
	width: 100%;
	color: #828e8c;
}
.img-bar{
	width: 100%;
	height: 4.83em;
	
	margin: 35px 0 auto;
}

.bar-img{
	width: 4.83em;
	height: 4.83em;
	
	float: left;
	margin: 0px 14px 0 auto;

}
