
.logo{
	height: 70px;  
	padding-top: 20px;
}
.navbar{
	
	line-height: 70px;
	float: right;
}
.navbar li,a{
 float: left;
 text-decoration: none;
 list-style-type: none;
 margin: 0px 0px 0px 22px;
}
.navbar ul{
	float: right;
}
.info-holder{
	width: 1100px;
	
	
	float: right;
	margin: 110px 125px 0 auto;
}
.left-info{
	
	width: 515px;	
}

.logo-left button
{
	width: 135px;
	
}

.form-right{
	width: 360px;
	
}
.form-group input{
	width: 285px;
	padding: 12px 20px 12px 20px;
	margin: 16px;
	border: none;
	 border-bottom: 1px solid #d6d6d6;
	 line-height: normal;
	 outline: none;

}

